.button.is-spring {
    background: transparent;
    border: 2px solid #111;
    border-radius: 0;
    color: #111;
    display: inline-block;
    font-size: .9rem;
    font-weight: 700;
    height: auto;
    line-height: 20px;
    overflow: hidden;
    padding: 15px 30px;
    position: relative;
    text-transform: uppercase;
    transition: color .2s ease-in-out;
    z-index: 0
}

.button.is-spring:before {
    background-color: #191e1e;
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: .2s ease-in-out;
    z-index: -1
}

.button.is-spring:hover {
    color: #fff;
    text-decoration: none
}

.button.is-spring:hover:before {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.navbar-burger, h1{
    margin: 0;
    padding: 0
}

a {
    text-decoration: none;
}

.mr-3 {
    margin-right: 20px
}